---
---


<div class="to__top flex items-center justify-center p-2 w-[40px] h-[40px] bg-guardsman-red-700 fixed top-[62%] left-[89%] rounded-full cursor-pointer z-50">
    <iconify-icon icon="codicon:triangle-up" width="30" height="30" style="color: #d7d7d7"></iconify-icon>
</div>

<script is:inline>
  const cajaToTop = document.querySelector(".to__top");

  cajaToTop.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  window.addEventListener("scroll", () => {
    if (window.pageYOffset > 500) {
      cajaToTop.classList.add("show");
    } else {
      cajaToTop.classList.remove("show");
    }
  });
</script>

<style>
  /* Estilos para cuando el bot칩n est치 activo */
  .to__top.show {
    display: flex;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  /* Estilos para cuando el bot칩n no est치 activo */
  .to__top {
    display: none;
    opacity: 0;
  }
</style>
