---
import HamburgerButton from "@components/atoms/HamburgerButton/HamburgerButton.astro";
import Logo from "@components/atoms/Logo/Logo.astro";
import NavMenu from "@components/atoms/NavMenu/NavMenu.astro";
import SearchInput from "@components/atoms/SerchInput/SearchInput.astro";
import ThemeIcon from "@components/atoms/ThemeIcon/ThemeIcon.astro";
import ToggleLanguage from "@components/atoms/ToogleLanguage/ToggleLanguage";
---

<script>
  import HamburgerButton from "@controllers/hamburger.controller";
</script>

<header
  class="w-full fixed  z-[900] bg-black flex justify-between items-center lg:hidden text-white pr-3 h-[17dvh]"
>
  <HamburgerButton />
  <Logo hidden="flex" hiddenDesktop="hidden" isMobile="true"/>
  <ThemeIcon />
  <aside
    class="panel bg-black fixed top-0 w-full h-[100vh] flex flex-col lg:hidden items-start px-3 pt-20 *:text-2xl space-y-10 "
  >
      <ToggleLanguage client:only="react" breakpoint="mobile"/>
    <NavMenu placement="bottom" />
    <div class="">
      <SearchInput />
    </div>
  </aside>
</header>


<style>
  .panel {
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .panel.is-active {
    transform: translateX(0);
  }
  .panel ul {
    list-style: none;
  }
  .panel ul li {
    margin-bottom: 1rem;
  }
  .panel ul li a {
    color: white;
    text-decoration: none;
  }
  .panel ul li a:hover {
    color: var(--guardsman-red-500);
  }
  .panel ul li a.active {
    color: var(--guardsman-red-500);
  }
</style>
