---
interface Props{
    className?: string;
}
const { className } = Astro.props;
---
<div class={ `${className??""} flex-shrink-0 relative opacity-100 visible transition-transform block` }>
    <slot/>
</div>