---
import NavMenu from "@components/atoms/NavMenu/NavMenu.astro";
import SearchInput from "@components/atoms/SerchInput/SearchInput.astro";
---

<header
  id="headerw-full"
  class="hidden lg:flex justify-center items-center w-full px-5 sticky top-1 z-50"
>
  <div
    class="glassmorphism flex justify-between items-center w-full min-h-[7.3dvh] max-w-[1300px] px-7 py-2 rounded-[9px] "
  >
  <NavMenu />
  <SearchInput />
  </div>
</header>
