---
import Logo from "@components/atoms/Logo/Logo.astro";
import SocialMediaIcons from "@components/atoms/SocialMediaIcons/SocialMediaIcons.astro";
import ImageLazy from "@components/extras/ImageLazy.astro";
import ItemNews from "@components/extras/ItemNews.astro";
import Button from "@components/atoms/Button/Button.astro";
import FormCheckbox from "@components/atoms/formAtoms/FormCheckbox.astro";
---

<footer
  class="footer bg-black flex flex-wrap justify-center md:justify-between text-white h-fit w-full py-5 px-[2rem] space-y-[1rem] mt-auto"
>
  <div
    class="sm:min-w-[300px] w-full sm:w-[300px] h-full flex flex-col justify-between items-start gap-[3rem] mt-[1rem]"
  >
    <Logo animationdirection="fade-bottom" isMobile="true" />
    <SocialMediaIcons />
    <nav>
      <ul>
        <li>
          <a class="flex items-center gap-2" href="mailto:"
            ><iconify-icon
              class="text-guardsman-red-600"
              icon="ic:round-mail"
              width="20"
              height="20"></iconify-icon>
            <span class="py-1"> correo@correo.com</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="tel:"
            ><iconify-icon
              class="text-guardsman-red-600"
              icon="formkit:telephone"
              width="20"
              height="20"></iconify-icon>
            <span class="py-1"> correo@correo.com</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="tel:"
            ><iconify-icon
              class="text-guardsman-red-600"
              icon="el:map-marker"
              width="20"
              height="20"></iconify-icon>
            <span class="py-1"> correo@correo.com</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer__latest-post flex flex-col gap-3 m-0 w-full lg:w-[60%] xl:max-w-[370px]">
    <h3 class="font-bold text-xl mb-0">Lo más reciente</h3>
    <ItemNews
    Options={'{\"LinkContainer\":{\"ClassName\":\"flex gap-3 min-h-[140px] md:min-h-[130px] group\"},\"AssetsContainer\":{\"ClassName\":\"relative w-[28%] h-auto max-w-[114px] overflow-hidden \",\"HasFlag\":false,\"Flag\":{\"ClassName\":\"\"},\"ImageContainer\":{\"ClassName\":\"load-image-container  h-full  max-h-[170px] group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full\",\"HasWatermark\":false,\"Image\":{\"ClassName\":\"lazy absolute top-0 left-0 w-full  h-full object-cover object-center\"}}},\"DataContainer\":{\"ClassName\":\"w-[73%] flex flex-col space-y-2 space-y-reverse justify-start\",\"Date\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Time\":{\"Active\":false,\"ClassName\":\"font-normal\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Title\":{\"ClassName\":\"order-0 font-bold text-sm w-full\"},\"Autor\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"},\"TextPrev\":\"Por&nbsp;\",\"TextNext\":\"&nbsp;-&nbsp;\"},\"SponsorTag\": {\"LinkContainer\":{\"ClassName\":\"absolute bottom-0 right-0 text-center py-1.5 px-1.5 font-sans text-xs font-bold uppercase flex flex-nowrap flex-row gap-2 overflow-auto\"}}}}'}
    className=""
    category="Internacional"
    attributes={'{"data-aos":"fade-up"}'}
    title="Descubre el significado Descubre csdv vdzvsdvdvsdv..."
    datetime="22/04/2024"
    href="#"
    categoryColor="category_03"
  >
    <ImageLazy
      src="https://gf-tvoainews.s3.amazonaws.com/images/0da498c2-a169-4ea5-8671-7f63880e5917.webp"
      width="200"
      height="114"
      className="group-hover:scale-125 ease-in-out duration-500 max-w-[114px] max-h-[170px] transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full absolute"
      classNameImage="h-full object-cover object-center"
      slot="image"
    />
  </ItemNews>
  <ItemNews
  Options={'{\"LinkContainer\":{\"ClassName\":\"flex gap-3 min-h-[140px] md:min-h-[130px] group\"},\"AssetsContainer\":{\"ClassName\":\"relative w-[28%] h-auto max-w-[114px] overflow-hidden \",\"HasFlag\":false,\"Flag\":{\"ClassName\":\"\"},\"ImageContainer\":{\"ClassName\":\"load-image-container  h-full  max-h-[170px] group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full\",\"HasWatermark\":false,\"Image\":{\"ClassName\":\"lazy absolute top-0 left-0 w-full  h-full object-cover object-center\"}}},\"DataContainer\":{\"ClassName\":\"w-[73%] flex flex-col space-y-2 space-y-reverse justify-start\",\"Date\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Time\":{\"Active\":false,\"ClassName\":\"font-normal\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Title\":{\"ClassName\":\"order-0 font-bold text-sm w-full\"},\"Autor\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"},\"TextPrev\":\"Por&nbsp;\",\"TextNext\":\"&nbsp;-&nbsp;\"},\"SponsorTag\": {\"LinkContainer\":{\"ClassName\":\"absolute bottom-0 right-0 text-center py-1.5 px-1.5 font-sans text-xs font-bold uppercase flex flex-nowrap flex-row gap-2 overflow-auto\"}}}}'}
  className=""
  category="Internacional"
  attributes={'{"data-aos":"fade-up"}'}
  title="Descubre el significado Descubre csdv vdzvsdvdvsdv..."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/0da498c2-a169-4ea5-8671-7f63880e5917.webp"
    width="200"
    height="114"
    className="group-hover:scale-125 ease-in-out duration-500 max-w-[114px] max-h-[170px] transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full absolute"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNews>
<ItemNews
Options={'{\"LinkContainer\":{\"ClassName\":\"flex gap-3 min-h-[140px] md:min-h-[130px] group\"},\"AssetsContainer\":{\"ClassName\":\"relative w-[28%] h-auto max-w-[114px] overflow-hidden \",\"HasFlag\":false,\"Flag\":{\"ClassName\":\"\"},\"ImageContainer\":{\"ClassName\":\"load-image-container  h-full  max-h-[170px] group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full\",\"HasWatermark\":false,\"Image\":{\"ClassName\":\"lazy absolute top-0 left-0 w-full  h-full object-cover object-center\"}}},\"DataContainer\":{\"ClassName\":\"w-[73%] flex flex-col space-y-2 space-y-reverse justify-start\",\"Date\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Time\":{\"Active\":false,\"ClassName\":\"font-normal\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"}},\"Title\":{\"ClassName\":\"order-0 font-bold text-sm w-full\"},\"Autor\":{\"Active\":true,\"ClassName\":\"order-1 text-xs\",\"Icon\":{\"Active\":false,\"ClassName\":\"\"},\"TextPrev\":\"Por&nbsp;\",\"TextNext\":\"&nbsp;-&nbsp;\"},\"SponsorTag\": {\"LinkContainer\":{\"ClassName\":\"absolute bottom-0 right-0 text-center py-1.5 px-1.5 font-sans text-xs font-bold uppercase flex flex-nowrap flex-row gap-2 overflow-auto\"}}}}'}
className=""
category="Internacional"
attributes={'{"data-aos":"fade-up"}'}
title="Descubre el significado Descubre csdv vdzvsdvdvsdv..."
datetime="22/04/2024"
href="#"
categoryColor="category_03"
>
<ImageLazy
  src="https://gf-tvoainews.s3.amazonaws.com/images/0da498c2-a169-4ea5-8671-7f63880e5917.webp"
  width="200"
  height="114"
  className="group-hover:scale-125 ease-in-out duration-500 max-w-[114px] max-h-[170px] transition-transform cursor-pointer pt-[130%] sm:pt-[100%] w-full absolute"
  classNameImage="h-full object-cover object-center"
  slot="image"
/>
</ItemNews>
  </div>

  <div class="footer__latest-post flex flex-col gap-4 w-full xl:max-w-[356px]">
    <h3 class="font-bold text-xl mb-2">Suscríbete</h3>
    <p>
      Ut velit culpa irure aliquip. Nisi nisi irure laborum irure ex est irure
      do irure do. Lorem amet non labore proident. Ut eiusmod ullamco nulla
      reprehenderit ullamco aute occaecat tempor mollit non commodo non in.
    </p>

    <section class="w-full flex justify-start items-center pb-1 pt-4">
      <form
        id="subscribe-form"
        method="POST"
        action="/"
        class="subscribe-form flex flex-col items-start justify-strech w-[80%] max-w-[1300px]"
      >
        <div class="flex flex-col items-center justify-center ga-10 w-full">
          <span class="text-sm text-red-600 hidden mb-2" id="email-error"
          ></span>
          <span class="text-sm text-red-600 hidden mb-2" id="terms-error"
          ></span>
        </div>

        <label class="flex text-sm text-left self-start text-white" for="email">
          Ingresa tu correo electrónico
        </label>

        <div class="flex items-center justify-center w-full">
          <input
            class="py-[10.2px] flex-1 text-xs"
            type="email"
            id="email"
            name="email"
            placeholder="Tu email"
            required
          />
          <Button
            text="Suscribirse"
            ID="send-btn"
            clase="self-start px-5 pt-[11px] pb-[12px] w-[300px]"
            rounded="rounded-r-lg"
            type="submit"
          />
        </div>
        <div class="flex py-2">
          <input
            type="checkbox"
            id="terms"
            name="terms"
            class="form-checkbox checked:accent-guardsman-red-700 mr-2"
            required
          />

          <span class={`text-xs  text-[--secundary-color]`}
            >Aceptar términos y condiciones</span
          >
        </div>
      </form>
    </section>
  </div>
</footer>
