---
import Button from "@atoms/Button/Button.astro";
import WeatherPopover from "@molecules/Weather/WeatherPopover";
import SocialMediaIcons from "@components/atoms/SocialMediaIcons/SocialMediaIcons.astro";
import ThemeIcon from "@components/atoms/ThemeIcon/ThemeIcon.astro";
import ToggleLanguage from "@components/atoms/ToogleLanguage/ToggleLanguage";
import IndicadoresCarousel from "@atoms/IndicadoresCarousel/IndicadoresCarousel";
import PopupSuscribe from "@molecules/PopupSuscribe/PopupSuscribe.astro";


---
<script>
  import suscribeModalButton from "@controllers/suscribeModal.controller";
</script>
<header
  id="top-bar"
  class="relative hidden space-y-3 lg:space-y-0 flex-col lg:flex-row  lg:flex justify-center md:justify-between items-center bg-black text-white w-full mb-2 min-h-12 px-5 py-2 "
>
  <div class="flex gap-3 items-center flex-wrap w-[30rem]">
    <WeatherPopover  client:only="react"/>
  </div>
  <div class="indicadores__carousel w-80">
    <IndicadoresCarousel  client:only="react"/>
  </div>
  <div class="social-media flex  gap-2 pl-0 list-none">
    <SocialMediaIcons />
    <Button text="Suscríbete" ID="suscribe-btn" clase="px-2" />
    <div class="icons flex gap-1">
      <ThemeIcon />
      <ToggleLanguage client:only="react" />
    </div>
    <PopupSuscribe />
  </div>
</header>
